.flash {
  display: flex;
  inset-block-start: var(--block-space);
  inset-inline-start: 50%;
  justify-content: center;
  position: fixed;
  transform: translate(-50%);
  z-index: 6;
}

.flash__inner {
  animation: appear-then-fade 3s 300ms cubic-bezier(0.25, 1, 0.5, 1) both;
  background-color: var(--flash-background, var(--color-positive));
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.875rem 1.25rem;
  max-width: 32rem;
  box-shadow: 0 4px 12px oklch(var(--lch-always-black) / 0.15);

  img {
    flex-shrink: 0;
  }

  span {
    font-size: var(--font-size-small);
  }
}
